{%extends 'base.html' %}
{%load static%}
{%block content%}
<div class="container text-light">
    <div class="row">
        <div class="col-8">
        <div class="alert alert-light" role="alert">
            <div class="container">
                <div class="row">
                    <div class="col-1 text-center">
                     {% if tweet.user.profile.profile_image%}
                     <img src="{{tweet.user.profile.profile_image.url}}" alt="profile picture" class="rounded-circle" width="50" height="50">  
                     {{tweet.user}} <br>
                     {%else%}
                     <img src="{% static 'images/default_profile_pic.png' %}" alt="profile picture" class="rounded-circle" width="50" height="50">
                     {{tweet.user}} <br>
                     {%endif%}
                  </div>
                  <div class="col-11"> 
                     <i class="fa-brands fa-twitter"></i>
                     {{tweet.body}}  
                     {% if user in tweet.likes.all%}
                        <a class="text-decoration-none" href="{% url 'tweet_likes' tweet.id %}">
                            {{tweet.number_of_likes}} <i class="fa-solid fa-heart"></i>   
                        </a> 
                     {%else%}
                     <a class="text-decoration-none" href="{% url 'tweet_likes' tweet.id%}">
                        {{tweet.number_of_likes}} <i class="fa-regular fa-heart"></i>    
                    </a> 
                        
                     {%endif%}  
                     <br>

                    <i class="fa-regular fa-clock"></i>
                    {{tweet.created_at}}
            </div>
             </div>
            </div>
            </div>
              
        
    
        {% if forms %}
        <form method="POST">
            {%csrf_token%}
            {{forms.as_p}}
            <button class="btn btn-primary">Edit Post <i class="fa-brands fa-twitter"></i></button>
        </form>
        {%endif%}
    </div>
    </div>
    </div>
{%endblock%}