{% extends 'base.html'%}
{% load static %}
{%block content%}
        <h1 class="text-light">
        <i class="fa-solid fa-magnifying-glass"></i>
        Search Tweet</h1>
       <br>       
       <form method="POST" action="" class="bg-white text-dark p-3 rounded" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="input" name="search_tweet" class="form-control border-2 border-primary" id="exampleInputPassword1">
        <br>
        <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-magnifying-glass"></i>
        Search</button>
       </form>
      <br><br>
      {% if search%}
      <h3 class="text-light">You search for "{{search}}"</h3>
      {% endif%}
      <br><br>
      {% for tweet in tweets%}
      <div class="alert alert-light" role="alert">
        <div class="container">
            <div class="row">
                <div class="col-1 text-center">
                 {% if tweet.user.profile.profile_image%}
                 <img src="{{tweet.user.profile.profile_image.url}}" alt="profile picture" class="rounded-circle" width="50" height="50">  
                 {{tweet.user}} <br>
                 {%else%}
                 <img src="{% static 'images/default_profile_pic.png' %}" alt="profile picture" class="rounded-circle" width="50" height="50">
                 {{tweet.user}} <br>
                 {%endif%}
              </div>
              <div class="col-11"> 
                 <i class="fa-brands fa-twitter"></i>
                 {{tweet.body}}  
                 {% if user in tweet.likes.all%}
                    <a class="text-decoration-none" href="{% url 'tweet_likes' tweet.id %}">
                        {{tweet.number_of_likes}} <i class="fa-solid fa-heart"></i>   
                    </a> 
                 {%else%}
                 <a class="text-decoration-none" href="{% url 'tweet_likes' tweet.id%}">
                    {{tweet.number_of_likes}} <i class="fa-regular fa-heart"></i>    
                </a> 
                    
                 {%endif%}  
                 <br>

                <i class="fa-regular fa-clock"></i>
                {{tweet.created_at}}
        </div>
         </div>
        </div>
        </div>
      {% endfor%}
          
{%endblock%}