{% extends 'base.html'%}
{%block content%}
  
    <div class="col-md-5 offset-md-3 text-light">
        <h1 class="text-light">
            <i class="fa-solid fa-pen-nib"></i>
            Update Profile
        </h1>
        <br>
       <form method="POST" action="" class="bg-white text-dark p-3 rounded" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <br>
        {{profile_form.as_p}}
        <br><br>
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Update</button>
       </form>
    </div>
{%endblock%}